@font-face {
  font-family: 'Vue Awesome';
  src:	url('../fonts/Vue-Awesome.woff2') format('woff2'),
		url('../fonts/Vue-Awesome.ttf') format('truetype'),
		url('../fonts/Vue-Awesome.woff') format('woff'),
		url('../fonts/Vue-Awesome.svg#Vue-Awesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vue-"], [class*=" vue-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Vue Awesome' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.vue-accept:before { content: "\e900"; }
.vue-activity:before { content: "\e901"; }
.vue-anchor:before { content: "\e902"; }
.vue-arrow-down:before { content: "\e903"; }
.vue-arrow-left:before { content: "\e904"; }
.vue-arrow-right:before { content: "\e905"; }
.vue-arrow-up:before { content: "\e906"; }
.vue-asterisk:before { content: "\e907"; }
.vue-at:before { content: "\e908"; }
.vue-award:before { content: "\e909"; }
.vue-bell:before { content: "\e90a"; }
.vue-binocollars:before { content: "\e90b"; }
.vue-bit-ghost:before { content: "\e90c"; }
.vue-bit-pacman:before { content: "\e90d"; }
.vue-book:before { content: "\e90e"; }
.vue-bookmark:before { content: "\e90f"; }
.vue-bot-rosie:before { content: "\e910"; }
.vue-box:before { content: "\e911"; }
.vue-calendar:before { content: "\e912"; }
.vue-camera:before { content: "\e913"; }
.vue-cancel:before { content: "\e914"; }
.vue-cart:before { content: "\e915"; }
.vue-chart-bar:before { content: "\e916"; }
.vue-checked:before { content: "\e917"; }
.vue-chess-tower:before { content: "\e918"; }
.vue-clip:before { content: "\e919"; }
.vue-clock:before { content: "\e91a"; }
.vue-cloud:before { content: "\e91b"; }
.vue-cloud-download:before { content: "\e91c"; }
.vue-cloud-upload:before { content: "\e91d"; }
.vue-cog:before { content: "\e91e"; }
.vue-command:before { content: "\e91f"; }
.vue-comment:before { content: "\e920"; }
.vue-connection:before { content: "\e921"; }
.vue-copy:before { content: "\e922"; }
.vue-cross:before { content: "\e923"; }
.vue-dashboard:before { content: "\e924"; }
.vue-database:before { content: "\e925"; }
.vue-desktop:before { content: "\e926"; }
.vue-document:before { content: "\e927"; }
.vue-dollar:before { content: "\e928"; }
.vue-down:before { content: "\e929"; }
.vue-download:before { content: "\e92a"; }
.vue-droplet:before { content: "\e92b"; }
.vue-edit:before { content: "\e92c"; }
.vue-ellipsis:before { content: "\e92d"; }
.vue-emoti-angry:before { content: "\e92e"; }
.vue-emoti-angry2:before { content: "\e92f"; }
.vue-emoti-baffled:before { content: "\e930"; }
.vue-emoti-confused:before { content: "\e931"; }
.vue-emoti-cool:before { content: "\e932"; }
.vue-emoti-crying:before { content: "\e933"; }
.vue-emoti-happy:before { content: "\e934"; }
.vue-emoti-hipster:before { content: "\e935"; }
.vue-emoti-sad:before { content: "\e936"; }
.vue-emoti-shocked:before { content: "\e937"; }
.vue-emoti-sleepy:before { content: "\e938"; }
.vue-emoti-smile:before { content: "\e939"; }
.vue-emoti-thinking:before { content: "\e93a"; }
.vue-emoti-tongue:before { content: "\e93b"; }
.vue-emoti-wink:before { content: "\e93c"; }
.vue-excel:before { content: "\e93d"; }
.vue-eye:before { content: "\e93e"; }
.vue-eyedropper:before { content: "\e93f"; }
.vue-facebook:before { content: "\e940"; }
.vue-factory:before { content: "\e941"; }
.vue-fast-forward:before { content: "\e942"; }
.vue-feather:before { content: "\e943"; }
.vue-file:before { content: "\e944"; }
.vue-filter:before { content: "\e945"; }
.vue-flag:before { content: "\e946"; }
.vue-floppy-disk:before { content: "\e947"; }
.vue-folder:before { content: "\e948"; }
.vue-folder-zip:before { content: "\e949"; }
.vue-forklift:before { content: "\e94a"; }
.vue-fragile:before { content: "\e94b"; }
.vue-gamepad:before { content: "\e94c"; }
.vue-gift:before { content: "\e94d"; }
.vue-globe:before { content: "\e94e"; }
.vue-graph:before { content: "\e94f"; }
.vue-grid:before { content: "\e950"; }
.vue-hash:before { content: "\e951"; }
.vue-headset:before { content: "\e952"; }
.vue-heart:before { content: "\e953"; }
.vue-home:before { content: "\e954"; }
.vue-id-card:before { content: "\e955"; }
.vue-image:before { content: "\e956"; }
.vue-info:before { content: "\e957"; }
.vue-instagram:before { content: "\e958"; }
.vue-invoice:before { content: "\e959"; }
.vue-key:before { content: "\e95a"; }
.vue-keyboard:before { content: "\e95b"; }
.vue-layers:before { content: "\e95c"; }
.vue-layout:before { content: "\e95d"; }
.vue-left:before { content: "\e95e"; }
.vue-lifebuoy:before { content: "\e95f"; }
.vue-lightning:before { content: "\e960"; }
.vue-link:before { content: "\e961"; }
.vue-location:before { content: "\e962"; }
.vue-logout:before { content: "\e963"; }
.vue-magnifier:before { content: "\e964"; }
.vue-mail:before { content: "\e965"; }
.vue-map:before { content: "\e966"; }
.vue-maximize:before { content: "\e967"; }
.vue-megaphone:before { content: "\e968"; }
.vue-microphone:before { content: "\e969"; }
.vue-minimize:before { content: "\e96a"; }
.vue-minus:before { content: "\e96b"; }
.vue-monitor:before { content: "\e96c"; }
.vue-move:before { content: "\e96d"; }
.vue-movie:before { content: "\e96e"; }
.vue-music:before { content: "\e96f"; }
.vue-mute:before { content: "\e970"; }
.vue-padlock-locked:before { content: "\e971"; }
.vue-padlock-unlocked:before { content: "\e972"; }
.vue-paint-roller:before { content: "\e973"; }
.vue-pause:before { content: "\e974"; }
.vue-pdf:before { content: "\e975"; }
.vue-pencil:before { content: "\e976"; }
.vue-percent:before { content: "\e977"; }
.vue-phone:before { content: "\e978"; }
.vue-pin:before { content: "\e979"; }
.vue-play:before { content: "\e97a"; }
.vue-plus:before { content: "\e97b"; }
.vue-pointer:before { content: "\e97c"; }
.vue-power:before { content: "\e97d"; }
.vue-presentation:before { content: "\e97e"; }
.vue-printer:before { content: "\e97f"; }
.vue-question:before { content: "\e980"; }
.vue-quote-close:before { content: "\e981"; }
.vue-quote-open:before { content: "\e982"; }
.vue-refresh:before { content: "\e983"; }
.vue-reload:before { content: "\e984"; }
.vue-reply:before { content: "\e985"; }
.vue-reply2:before { content: "\e986"; }
.vue-rewind:before { content: "\e987"; }
.vue-right:before { content: "\e988"; }
.vue-scissors:before { content: "\e989"; }
.vue-server:before { content: "\e98a"; }
.vue-share:before { content: "\e98b"; }
.vue-shuffle:before { content: "\e98c"; }
.vue-signal:before { content: "\e98d"; }
.vue-sitemap:before { content: "\e98e"; }
.vue-sliders:before { content: "\e98f"; }
.vue-soundwave:before { content: "\e990"; }
.vue-spinner:before { content: "\e991"; }
.vue-star:before { content: "\e992"; }
.vue-stop:before { content: "\e993"; }
.vue-suitcase:before { content: "\e994"; }
.vue-support:before { content: "\e995"; }
.vue-tag:before { content: "\e996"; }
.vue-text:before { content: "\e997"; }
.vue-thumbs-down:before { content: "\e998"; }
.vue-thumbs-up:before { content: "\e999"; }
.vue-tools:before { content: "\e99a"; }
.vue-trash:before { content: "\e99b"; }
.vue-trophy:before { content: "\e99c"; }
.vue-truck:before { content: "\e99d"; }
.vue-twitter:before { content: "\e99e"; }
.vue-umbrella:before { content: "\e99f"; }
.vue-untagged:before { content: "\e9a0"; }
.vue-up:before { content: "\e9a1"; }
.vue-upload:before { content: "\e9a2"; }
.vue-user:before { content: "\e9a3"; }
.vue-users:before { content: "\e9a4"; }
.vue-volume:before { content: "\e9a5"; }
.vue-warning:before { content: "\e9a6"; }
.vue-youtube:before { content: "\e9a7"; }
.vue-zoom-in:before { content: "\e9a8"; }
.vue-zoom-out:before { content: "\e9a9"; }
